<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<b>Thomas Gol&uuml;ke </b>

<i>I am interested in data science because i love to act like an investigator. It is a pleasure to find new insights in world of seemingly unknown variables and deliver them to an astonished audience</i>

<h3>In the following, we will calculate the sum of the first n(=20) consecutive, natural square numbers, on one hand directly by calculating the first n square numbers and sum them up and on the other hand by using the formular n(n+1)(2n+1)/6. It can be seen via natural induction that the last formular is indeed correct.</h3>

In [18]:
n = 20
sum = 0
for i in range(1,n+1):
    sum = sum + i*i

formular = n*(n+1)*(2*n+1)/6

print('The sum of the first ', n, 'consecutive, natural square numbers is', sum)
print('Thanks to the formular, this is equal to ', formular)

The sum of the first  20 consecutive, natural square numbers is 2870
Thanks to the formular, this is equal to  2870.0

For the first n between 1 and 5 we have:
<ul>
  <li>1</li>
  <li>5</li>
  <li>14</li>
  <li>30</li>
  <li>55</li>
</ul>
Moreover, these numbers are known as:
<blockquote>Square pyramidal numbers.</blockquote>
You can find more information about it on wikipedia via this <a href="https://en.wikipedia.org/wiki/Square_pyramidal_number">link</a>